.home {
    position: absolute;
    right: 0;
    width: calc(100% - 241px);
    height: 100%;
    z-index: 5;
}

.home .home_container {
    position: relative;
    width: 100%;
    height: 100%;
	background-color: rgb(255, 248, 237);
}

/* 유저 프로필 */
.home_user-profile {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

/* 유저 프로필 이미지 */
.home_user-profile #user_img {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    border: 10px solid rgb(255, 246, 208);
}

.home_user-profile #user_img img {
    background-size: cover;
    width: 100%;
    height: 100%;
}

#upload {
    display: none;
}

/* 이미지 삭제 */
.delete_img {
    position: relative;
    left: -60px;
    top: 50px;
    min-width: 35px;
    min-height: 35px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(223, 207, 172);
    border: 10px solid rgb(255, 248, 237);
    z-index: 5;
    font-weight: 600;
}

/* 유저 팔로워, 팔로잉, 이름, 이메일, 게시글 */
.user_data {
    display: inline-block;
    display: flex;
    position: relative;
    left: -30px;
    top: 30px;
    min-width: 300px;
    width: 300px;
    height: 100px;
    flex-wrap: wrap;
    font-size: 20px;
}

.user_data li {
    padding: 10px;
}

.user_data #user_name, #user_email {
    position: relative;
    color: gray;
}

/* 구독중 유저 */
.user_subscribe {
    width: 100%;
    height: 200px;
    font-size: 20px;
    box-shadow: inset 0px 0px 10px 3px rgb(255, 232, 189);
    margin-top: 50px;
}

.user_subscribe .subscribe {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_subscribe .not_subscribe {
    font-size: 20px;
}

/* 유저 메뉴 (좋아요한 책, 나의 게시글) */
.user_menu {
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-top: 60px;
}

.user_menu .user_likeBooks, .user_post {
    position: relative;
    min-width: 200px;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    margin: 50px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 4px 3px rgb(255, 232, 189);
}

.user_menu .user_likeBooks .back_img {
    background-size: cover;
    transform: scale(.6);
    left: -150px;
    top: -97px;
    position: relative;
}

.user_menu .user_likeBooks p {
    color: rgb(255, 130, 108) !important;
    position: relative;
    left: -10px;
    bottom: 21px;
}

.user_menu .user_likeBooks:hover .back_img {
    transform: scale(.7);
    transition: .2s;
}

.user_menu .user_likeBooks .heart_img {
    width: 30px;
    height: 30px;
    z-index: 4;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.user_menu .user_likeBooks p {
    position: absolute;
    transform: translate(35%, 10px);
    z-index: 2;
    font-size: 20px;
    font-weight: 600;
    color: white;
}


/* 로그아웃 */
.logout {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(255, 24, 24, 0.692);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
}
