.home {
    position: absolute;
    right: 0;
    width: calc(100% - 241px);
    height: 100%;
    z-index: 5;
}

.home .home_container {
    position: relative;
    width: 100%;
    height: 100%;
	background-color: rgb(255, 248, 237);
}

/* 유저 프로필 */
.home_user-profile {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(134, 134, 134, 0.507);
}

/* 유저 프로필 이미지 */
.home_user-profile #user_img {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    border: 10px solid rgb(253, 229, 175);
}

.home_user-profile #user_img img {
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* 이미지 삭제 */
.delete_img {
    position: relative;
    left: -60px;
    top: 50px;
    min-width: 35px;
    min-height: 35px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(223, 207, 172);
    border: 10px solid rgb(255, 248, 237);
    z-index: 5;
}

/* 유저 이름, 이메일 */
.home_user-profile .user_data {
    position: relative;
    top: 6px;
    color: rgb(117, 117, 117);
    margin-left: -20px;
}

.home_user-profile #user_name{
    font-size: 25px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 300px;
    border-bottom: 1px solid black;
}
.home_user-profile #user_email{
    font-size: 25px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

#upload {
    display: none;
}

/* 좋아요 한 책 목록 */
.user_likeBooks {
    width: 100%;
    height: 300px;
    background-color: aqua;
}

/* 구독중 유저 */
.user_subscribe {
    width: 100%;
    height: 300px;
    background-color: blue;
    font-size: 20px;
}

.user_subscribe .subscribe {
    width: 100%;
}

.user_subscribe .not_subscribe {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-5%, 0);
}

/* 로그아웃 */
.logout {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
}
