.main {
    position: absolute;
    left: 240px;
    width: calc(100% - 240px);
    height: 100%;
}

/* 전체 게시글 */
.main_contents {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 800px;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    background-color: red;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.main_contents::-webkit-scrollbar {
    display: none;
}

.main_contents {
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* 파이어폭스 */
}

/* 게시글 */
.posts {
    width: 100%;
    height: 550px;
    margin-bottom: 100px;
    display: flex;
    background-color: aqua;
}

.posts .img_content {
    width: 50%;
    height: 100%;
    background-color: blueviolet;
}

/*게시글 정보 전체*/
.posts .comments {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

/* 게시글쓴 유저 정보 */
.post_user {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: 600;
    border-bottom: 1px solid rgba(128, 128, 128, 0.525);
    background-color: rgb(255, 255, 255);
}

/* 게시글쓴 유저 프로필 */
.user_icon {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    margin-right: 10px;
    background-color: aqua;
}

/*게시글 댓글 영역*/
.post_content {
    width: 100%;
    height: calc(100% - 150px);
    overflow: hidden;
    overflow-y: scroll;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.post_content::-webkit-scrollbar {
    display: none;
}

.post_content {
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* 파이어폭스 */
}

/* 댓글 영역 사용자 정보 */
.user_comment {
    width: 100%;
    position: relative;
    transform: translate(0, -10px);
    background-color: #fff;
    align-items: center;
}

/* 작성자 내용 */
.user_content {
    position: relative;
    top: -31px;
    left: 68px;
    line-height: 23px;
    /* padding-right: 78px; */
    background-color: aqua;
}

.user_content:not(.comment_user-content) {
    width: 80%;
}

/* 게시물 작성자 이름 */
.user_content > span {
    position: relative;
    left: -3px;
    font-weight: 600;
}

/* 게시물 작성자 프로필 */
.icon_comment {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    transform: translate(0, 10px);
    margin: 10px 0 10px 20px;
    background-color: aqua;
}

/* . . . */
.under {
    position: relative;
    left: 64px;
    padding-bottom: 8px;
    width: 10px;
    color: gray;
}

/* 게시물 날짜 */
.user_comment > p {
    position: relative;
    left: 62px;
    margin-bottom: 15px;
    color: gray;
}

.comment_users li {
    display: flex;
    align-items: center;
}

/* 댓글 */
.comment_users .comments_content {
    width: 100%;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 30px;
    top: 0;
    /* flex-direction: row; */
    /* flex-shrink: 1; */
    background-color: red;
}

/* 댓글 쓴 유저 프로필 */
.comment_user-profile {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    transform: translate(0, 0);
    background-color: aqua;
}

/* 댓글 내용 */
.comment_user-content {
    position: relative;
    left: 45px;
    top: -30px;
    width: 75%;
    max-height: 5000px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    background-color: beige;
}

/* 댓글 더보기 */
.more_comment {
    position: relative;
    cursor: pointer;
    color: gray;
    transform: translate(330px, -65px);
}

/* 댓글 쓴 유저 이름 */
.comment_user-content > span {
    font-weight: 600;
    margin: 0px -2px 0px 3px;
}

/* 댓글 날짜 */
.comment_date {
    position: relative;
    display: flex;
    align-items: center;
    color: gray;
    transform: translate(60px, -10px);
}

/* 댓글 날짜 라인 */
.comment_date .date_line {
    position: relative;
    transform: translate(-12px);
    width: 80px;
    height: 2px;
    background-color: rgb(146, 146, 146);
}

/*게시글 푸터 영역*/
.post_footer {
    position: relative;
    width: 100%;
}

/* 게시물 아이콘 영역 */
.footer_icon {
    position: relative;
    width: 100%;
    height: 75px;
    transform: translate(0, 0);
    border-top: 1px solid rgba(128, 128, 128, 0.445);
    background-color: rgb(255, 255, 255);
}

.footer_input {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: end;
}

/* 댓글 입력칸 */
.footer_input > textarea {
    position: relative;
    width: 80%;
    max-height: 50px;
    padding-left: 20px;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    resize: none;
    border-top: 1px solid rgba(160, 160, 160, 0.534);
}

.footer_input > textarea::placeholder {
    font-weight: 600;
    font-size: 14px;
    top: 2px;
    position: relative;
    color: rgba(128, 128, 128, 0.523);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer_input > textarea:focus {
    outline: none;
}

/* 게시 버튼 */
.comment_button {
    position: relative;
    width: 17%;
    max-height: 54px;
    text-align: center;
    font-weight: 600;
    color: rgba(249, 226, 17, 0.658);
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgba(160, 160, 160, 0.534);
}

.comment_button > span {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.comment_button > span:hover {
    color: rgb(255, 200, 0);
}